.profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-bottom: 2px solid var(--platinium);
}

.profilePhoto {
    width: 6em;
    width: 6em;
    margin: 1em;
    border-radius: 50%;
}

.profileName {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.2em;
}

.profileJobTitle {
    color: var(--gray);
    font-weight: 600;
    font-size: 0.9em;
    padding-top: 0.5em;
}